{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body> 
    {% if user.is_authenticated %}
    <header class="header">
        <!-- <img class="open-sidebar" src="{% static 'img/icons8-menu.svg' %}" alt="menu" height="40px" width="40px" /> -->
        <form>
            <input type="search" name="search" id="search" placeholder="Search" />
        </form>
    </header>
    <div class="sidebar">
        <ul>
            <li class="profile-li">
                <a href="/profile/{{user.username}}">{{user.username}}'s Profile</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
        <img class="close-sidebar" src="{% static 'img/icon-close.svg' %}" alt="exit" height="40px" width="40px" />
    </div>
    <main id="main">
        {% block content %}{% endblock content %}
    </main>
    <footer class="base_footer">
        <ul class="flex justify-evenly">
            <li><a href="/profile/{{user.username}}"><img src="/media/profile_pics/{{user.profile.picture}}" alt="profile" width="40px" height="40px" /></a></li>
            <li><a href="/"><img src="/static/img/home.svg" alt="messages" width="40px" height="40px" /></a></li>
            <li><a href="/messages"><img src="{% static 'img/messenger.svg' %}" alt="messages" width="40px" height="40px" /></a></li>
        </ul>
    </footer>
    {% else %}
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    {% endif %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>