{% extends 'main/base.html' %}

{% block content %}
<h1>Feed</h1>
<div class="home_feed">
    {% for post in posts %}
    <article>
        <div class="profile_picture_div">
            <img src="/media/profile_pics/{{post.author.profile.picture}}" alt="profile picture" width="50px" height="50px"/> 
            {{post.author.username}}
        </div>
        <div>
            <h3>{{post.title}}</h3>
            <p>{{post.text}}</p>
            <p>{{post.get_likes}} likes</p>
        </div>
    </article>
    {% endfor %}
</div>
<div class="people_to_follow">
    <h4>People to follow</h4>
    <ul>
        {% for author in users %}
        <li>
            <a href="/profile/{{author.username}}">
                <span>{{author.username}}</span>
                <br>
                <span>{{author.profile.get_followers_count}} followers</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}