{% extends 'main/base.html' %}

{% block content %}
<div>
    {% for message in latest_messages %}
    {% if message.sender == user %}
    <section>
        <a href="/messages/{{message.receiver.username}}" class="flex">
            <img class="mt-8" src="/media/profile_pics/{{message.receiver.profile.picture}}" width="50px" height="50px" />
            <span class="mt-20">You texted {{message.receiver.username}}</span>
        </a>
        <hr>
    </section>
    {% elif message.receiver == user %}
    <section>
        <a href="/messages/{{message.sender.username}}" class="flex">
            <img class="mt-8" src="/media/profile_pics/{{message.sender.profile.picture}}" width="50px" height="50px" />
            <span class="mt-20">{{message.sender}} texted you</span>
        </a>
        <hr>
    </section>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}