{% extends 'main/base.html' %}

{% block content %}
{% if user.username == user2.username %}
<div>
    <h1>You can't talk to yourself loser</h1>
</div>
{% elif user2 in users %}
<div class="all_messages">
    <div class="profile_picture_div"><img src="/media/profile_pics/{{user2.profile.picture}}" alt="profile picture" width="50px" height="50px"/> {{user2.username}}</div>
    {% for message in all_messages %}
    {% if message.sender == user %}
    <div class="my_messages">
        <h3>{{message.text}}</h3>
        <p>{{message.timestamp}}</p>
        <hr>
    </div>
    {% elif message.sender == user2 %}
    <div class="their_messages">
        <h3>{{message.text}}</h3>
        <p>{{message.timestamp}}</p>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="messages_footer">
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Send</button>
    </form>
</div>
{% else %}
<div>
    <p>User doesn't exist</p>
</div>
{% endif %}
{% endblock content %}